@import "../../../../../styles/styles.scss";

table {
  th{
      padding: 0 0 21px 0 !important;
      @include for-phone-only {
          padding: 0 !important;
      }
  }
  tr {
    border-bottom:1px solid $clr-line;
  }
}

thead tr{
  &>:first-child {
    padding-left:0 !important;
    @include font-params(12px,$clr-text-2,600,15px);
    @include for-phone-only {
        @include font-params(8px, $clr-text-2, 600, 15px);
    }
  }
  &>:not(:first-child) {
    text-align: left;
    padding-left: 32px !important;
    text-transform: uppercase;
    @include font-params(12px, $clr-accent, 600, 15px);
    @include for-phone-only {
      padding-left: 16px !important;
        @include font-params(8px, $clr-accent, 600, 15px);
    }
  }
}

tbody tr {
  &>:first-child {
    padding-left: 0 !important;
    @include font-params(14px, $clr-text-2, 400, 32px);
    @include for-phone-only {
        @include font-params(8px, $clr-text-2, 400, 16px);
    }
  }

  &>:not(:first-child) {
    text-align: left;
    padding-left: 32px !important;
    font-size: 14px;
    @include for-phone-only {
      padding-left: 16px !important;
        font-size: 8px;
    }
  }
}

.performance-select {
  padding: 20px 0;
  @include flex(row, end, center, 0);
  @include for-phone-only {
      padding: 10px 0;
  }
}


app-header-component {
  margin-bottom: 14px;

  @include for-phone-only {
    margin-bottom: 11px;
  }
}

.stat {
  width: 29%;
}
.overall,
.home {
  width: 23.5%;
}

.away {
  width: 24%;
}
