<div class="mb-20">
<div class="section-header text-uppercase">{{teamName}} Interesting Head to Heads</div>
<div class="section-body ">
  <div class="intresting-container w-100">
  <div class="cardComp item" *ngFor="let item of fixtures; let i = index"
  [ngClass]="{'border-less-item': (i + 1) === (fixtures.length / 2),'padding-data':(i) === (fixtures.length / 2)}">
    <div class="card">
      <div class="card-body">
        <div class="card-item">
          <span
            class="font-weight-bold pointer"
            (click)="navigateToTeamPage(item.visitor_team.name)"
            ><app-team [teamEmblem]="item.visitor_team.logo_path" [teamName]="item.visitor_team.name" [needSmallIcon]="true" class="competition-text"></app-team></span
          >
          <span
            class="font-weight-bold pointer"
            (click)="navigateToH2h(item.localteam_id, item.visitorteam_id)"
            ><span class="h2h-text">H2H</span> {{ item.ft_score }}</span
          >
        </div>
      </div>
    </div>
  </div>
  </div>
  <app-not-stat *ngIf="!fixtures.length" [title]="'Interesting Head to Heads'"></app-not-stat>
</div>
</div>